.appear {
  opacity: 0;
}
.appearActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.enter {
  opacity: 0;
}
.enterActive {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}

.exit {
  opacity: 1;
}
.exitActive {
  opacity: 0;
  transform: scale(1, 10);
  transition: all 600ms ease-in-out;
}
