.root {
  --thumb-color: #111;
  --track-color: var(--primary-color);
  --thumb-border-color: var(--primary-color);
  --thumb-size: 22px;
  --thumb-border-size: 3px;
  --thumb-border-hover-size: calc(var(--thumb-size) / 2);
}

.input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}

.input::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  /* height: 5px; */
  background-color: #ff00;
}

.input::-moz-range-track {
  -moz-appearance: none;
  /* height: 5px; */
}

.input::-ms-track {
  -moz-appearance: none;
  /* height: 5px; */
}
.input::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* margin-top: -7.5px; */
  height: var(--thumb-size);
  width: var(--thumb-size);
  cursor: pointer;
  background-color: var(--thumb-color);
  border: var(--thumb-border-size) solid var(--primary-color);
  border-radius: 50%;
  pointer-events: auto;
  box-sizing: border-box;
  transition: all 0.3s ease;
}
.input::-moz-range-thumb {
  -webkit-appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  cursor: pointer;
  background-color: var(--thumb-color);
  border: var(--thumb-border-size) solid var(--thumb-border-color);
  border-radius: 50%;
  pointer-events: auto;
  transition: all 0.3s ease;
  box-sizing: border-box;
}
.input::-ms-thumb {
  -webkit-appearance: none;
  height: var(--thumb-size);
  width: var(--thumb-size);
  cursor: pointer;
  background-color: var(--thumb-color);
  border: var(--thumb-border-size) solid var(--thumb-border-color);
  border-radius: 50%;
  pointer-events: auto;
  box-sizing: border-box;
  transition: all 0.3s ease;
}

.input::-webkit-slider-thumb:hover {
  border: var(--thumb-border-hover-size) solid var(--primary-color);
  box-shadow: 0 5px 15px var(--primary-shadow-color);
}
.input::-moz-range-thumb:hover {
  border: var(--thumb-border-hover-size) solid var(--primary-color);
  box-shadow: 0 5px 15px var(--primary-shadow-color);
}
.input::-ms-thumb:hover {
  border: var(--thumb-border-hover-size) solid var(--primary-color);
  box-shadow: 0 5px 15px var(--primary-shadow-color);
}

.slider-container {
  position: relative;
  /* background-color: #ffff00; */
  height: 20px;
}

.slider-track {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  border-radius: 5px;
  /* background-color: #f00; */
  background-color: var(--control-foreground);
}

.values {
  padding: 0px 0px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
}
